@charset "utf-8";
@import "compass/css3/";

.sp {
  display: none;
  @media screen and (max-width: 896px) {
    display: block;
  }
}
.pc {
  @media screen and (max-width: 896px) {
    display: none;
  }
}

#stage {
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.outer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

//header
.header {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  @include bkp(pc) {
    padding: 28px 5% 0 2%;
  }
  @include bkp(sp) {
    padding: 0 5%;
    top: 8px;
  }
  .header_inner {
    .logo {
      @include bkp(pc) {
        width: 270px;
      }
      @include bkp(sp) {
        position: relative;
        z-index: 10002;
        width: 50%;
      }
      a {
        display: block;
      }
    }
    .menuBtn {
      @include bkp(pc) {
        transform: translateX(150%);
        &.on {
          transition-delay: 0.3s;
          transform: translateX(0);
          opacity: 1;
        }
      }
      border-radius: 50%;
      border: 1px solid $baseyel;
      z-index: 10002;
      transition: 0.4s;
      @include bkp(pc) {
        position: absolute;
        top: 30px;
        right: 3%;
        width: 75px;
        height: 75px;
        opacity: 0;
      }
      @include bkp(sp) {
        position: relative;
        width: 60px;
        height: 60px;
      }
      &.close {
        .bar {
          &:first-child {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:nth-child(2) {
            transform: translate(100%, -50%);
            opacity: 0;
          }
          &:last-child {
            transform: translate(-70%, -50%) rotate(-45deg);
            width: 34px;
            top: 50%;
            @include bkp(sp) {
              transform: translate(-70%, -50%) rotate(-45deg);
            }
          }
        }
      }
      .bar {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 34px;
        height: 2px;
        background-color: $baseyel;
        transition: transform 0.35s;
        &:first-child {
          transform: translate(-50%, -10px);
        }
        &:nth-child(2) {
          transform: translate(-50%, -50%);
        }
        &:last-child {
          transform: translate(-50%, 10px);
          width: 20px;
          left: 60%;
          top: 48%;
          transition: 0.4s;
          @include bkp(sp) {
            left: 61%;
          }
        }
      }
    }
    .nav {
      @include bkp(pc) {
        width: calc(100% - 270px);
        margin-left: 5%;
        transition: 1s;
        &.off {
          transform: translateX(150%);
        }
      }
      @include bkp(sp) {
        display: none;
      }
      &__mainnav {
        @include bkp(sp) {
          padding: 20px 5%;
          background-color: #188ea2;
        }
        ul {
          justify-content: flex-end;
          @include bkp(sp) {
            display: block;
          }
          li {
            &:not(:last-child) {
              @include bkp(pc) {
                margin-right: 30px;
              }
              @include bkp(sp) {
                margin-bottom: 6px;
              }
            }

            .parent_list {
              font-size: 1.4rem;
              display: block;
              font-weight: bold;
              letter-spacing: 0.04em;
              color: #000;
              @include bkp(pc) {
                @include hoverLine();
              }
            }
            .contact_link {
              color: $basegrn;
              font-size: 1.6rem;
              font-weight: 600;
              letter-spacing: 0.04em;
              border: 1px solid $basegrn;
              border-radius: 2px;
              @include bkp(pc) {
                padding: 14px 24px 14px 42px;
                position: relative;
                &::after {
                  content: "";
                  width: 0%;
                  height: 2px;
                  background-color: $baseyel;
                  position: absolute;
                  bottom: 8px;
                  left: 18px;
                  transition: 0.4s;
                }
                &:hover::after {
                  width: 74%;
                }
                &::before {
                  position: absolute;
                  content: "";
                  background: url(../../img/common/mail-icon@2x.png);
                  background-repeat: no-repeat;
                  background-size: cover;
                  left: 12%;
                  top: 50%;
                  transform: translate(0, -50%);
                  width: 16px;
                  height: 12px;
                  @include bkp(sp) {
                    width: 14px;
                    height: 10px;
                  }
                }
                @include bkp(sp) {
                  padding: 16px 0;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      &__contact {
        @include bkp(pc) {
          display: none;
        }
        @include bkp(sp) {
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: none;
}

.menu {
  width: 50%;
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  padding: 100px 10%;
  background-color: #fff;
  transition: 0.6s;
  z-index: 10001;
  overflow-y: scroll;
  background-color: #f6f6ec;
  @include bkp(sp) {
    width: 100%;
    padding: 100px 5%;
  }
  &.on {
    right: 0;
  }
  .base_menu_box {
    .menu_nav {
      @include bkp(sp) {
        flex-wrap: wrap;
      }
      .box {
        width: 100%;
        .parent_link {
          color: $basegrn;
          font-size: 1.4rem;
          font-weight: 500;
          padding: 18px 0;
          border-bottom: 1px solid #cce1f0;
          position: relative;
          @include bkp(sp) {
            font-size: 1.3rem;
            padding: 15px 0;
          }
          &.border_none {
            border-bottom: none;
          }
        }
        .child_list {
          padding-bottom: 18px;
          padding-left: 5%;
          border-bottom: 1px solid #cce1f0;
          @include bkp(sp) {
            padding-bottom: 18px;
            padding-left: 5%;
          }
          li {
            &:not(:first-child) {
              margin-top: 20px;
              @include bkp(sp) {
                margin-top: 15px;
              }
            }
            a {
              font-size: 1.2rem;
              font-weight: 500;
              position: relative;
              padding-left: 18px;
              @include bkp(sp) {
                padding-left: 15px;
              }
              &::before {
                content: "";
                width: 10px;
                height: 1px;
                background-color: $basegrn;
                position: absolute;
                left: 0;
                top: 50%;
                @include bkp(sp) {
                  width: 7px;
                }
              }
            }
          }
        }
      }
      .contact_link {
        padding: 20px;
        font-size: 1.5rem;
        color: #fff;
        font-weight: 500;
        background-color: $basegrn;
        position: relative;
        margin-top: 20px;
        text-align: center;
        @include bkp(sp) {
          width: 90%;
          margin: 30px auto 0;
        }
      }
    }
    .menu_foot {
      margin-top: 60px;
      @include bkp(sp) {
        display: block;
        padding-top: 35px;
        border-top: 1px solid #e0e0e0;
        margin-top: 35px;
      }
      .bnr {
        width: 190px;
        border: 1px solid #e0e0e0;
        @include bkp(sp) {
          width: 55%;
          margin: 3px auto 30px;
        }
      }
      .sns_list {
        @include bkp(sp) {
          flex-wrap: wrap;
          justify-content: center;
        }
        li {
          &:first-child {
            @include bkp(sp) {
              width: 100%;
              text-align: center;
              margin-bottom: 30px;
            }
            a {
              color: #707483;
              margin-right: 50px;
              font-size: 1.2rem;
              @include bkp(sp) {
                margin-right: 0;
              }
            }
          }
          a {
            margin-right: 25px;
            @include bkp(sp) {
              margin-right: 0;
            }
          }
          @include bkp(sp) {
            &:nth-of-type(3) {
              margin: 0 25px;
            }
            &:not(:first-child) {
              width: 35px;
              a {
                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
//header

//footer
.contact_area {
  background: url(../../img/common/footer-contact.png) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  @include bkp(sp) {
    padding: 60px 5%;
  }
  &_txt {
    p {
      font-size: 2rem;
      letter-spacing: 0.1em;
      line-height: 1.5;
      color: #fff;
      text-align: center;
      @include bkp(sp) {
        line-height: 1.8;
      }
      span {
        font-size: 2.8rem;
        border-bottom: 10px solid $baseyel;
        padding-bottom: 6px;
      }
    }
  }
  &_btn {
    margin-top: 96px;
    justify-content: center;
    @include bkp(sp) {
      display: block;
      margin-top: 60px;
    }
    a {
      font-size: 1.6rem;
      letter-spacing: 0.1em;
      padding: 24px 70px 24px 100px;
      text-align: center;
      @include bkp(sp) {
        display: block;
      }
    }
    .contact_btn {
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      @include bkp(pc) {
        margin-right: 2.5%;
        width: 280px;
        position: relative;
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background-color: #fff;
          position: absolute;
          bottom: 12px;
          left: 60px;
          transition: 0.4s;
        }
        &:hover::after {
          width: 55%;
        }
      }
      @include bkp(sp) {
        max-width: 400px;
        margin: 0 auto 30px;
      }
      span {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background: url(../../img/common/icon-contact.png) no-repeat center;
          background-size: cover;
          top: 50%;
          transform: translate(0, -50%);
          left: -30px;
          width: 17px;
          height: 13px;
        }
      }
    }
    .reserve_btn {
      color: #000;
      background-color: $baseyel;
      border-radius: 5px;
      @include bkp(pc) {
        margin-left: 2.5%;
        position: relative;
        width: 280px;
        &::after {
          content: "";
          width: 0%;
          height: 2px;
          background-color: #000;
          position: absolute;
          bottom: 12px;
          left: 60px;
          transition: 0.4s;
        }
        &:hover::after {
          width: 58%;
        }
      }
      @include bkp(sp) {
        max-width: 400px;
        margin: 0 auto;
      }
      span {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background: url(../../img/common/icon-reserve.png) no-repeat center;
          background-size: cover;
          top: 50%;
          transform: translate(0, -50%);
          left: -30px;
          width: 17px;
          height: 13px;
        }
      }
    }
  }
}

.footer {
  background: url(../../img/common/footer-bg@2x.png) no-repeat center;
  background-size: cover;
  @include bkp(sp) {
    display: block;
  }
  .info_area {
    width: 30%;
    min-width: 300px;
    padding-left: 10%;
    .logo {
      width: 100%;
    }
    @include bkp(sp) {
      min-width: none;
      width: 100%;
      padding: 40px 5%;
      .logo {
        width: 30%;
        margin: 0 auto 10px;
        @include bkp(sp) {
          width: 80%;
          padding: 50px 5% 0;
        }
      }
    }
    .address {
      font-size: 1.4rem;
      line-height: 1.8;
      letter-spacing: 0.08em;
      margin-top: 20px;
      width: 80%;
      min-width: 250px;
      font-weight: bold;
      @include bkp(sp) {
        font-size: 1.2rem;
        margin-top: 15px;
        width: 100%;
        text-align: center;
      }
    }
  }
  .nav_area {
    width: 50%;
    padding: 40px 5% 62px;
    @include bkp(sp) {
      width: 100%;
      padding: 20px 5% 80px;
    }
    nav {
      margin-bottom: 40px;
      flex-wrap: wrap;
      .nav_item {
        margin-top: 52px;
        @include bkp(sp) {
          width: 45%;
          margin-top: 25px;
        }
        .parent_link {
          letter-spacing: 0.02em;
          font-size: 1.4rem;
          color: $basegrn;
          line-height: 1.5;
          font-weight: bold;
          @include bkp(pc) {
            @include hoverLine();
          }
          @include bkp(sp) {
            padding-bottom: 8px;
            border-bottom: 1px solid #253244;
            display: block;
          }
        }
        .chilc_list {
          @include bkp(sp) {
            padding-left: 1em;
          }
          li {
            margin-top: 20px;
            @include bkp(sp) {
              margin-top: 17px;
            }
            a {
              color: #707483;
              font-size: 1.2rem;
              letter-spacing: 0.08em;
              @include bkp(pc) {
                &:hover {
                  color: #006bb2;
                }
              }
            }
          }
        }
      }
    }
    .sub_area {
      margin-bottom: 40px;
      justify-content: end;
      text-align: right;
      @include bkp(sp) {
        display: block;
      }
      .sns_list {
        @include bkp(sp) {
          justify-content: center;
          margin-bottom: 50px;
        }
        li {
          width: 55px;
          @include bkp(sp) {
            margin-right: 20px;
            margin-left: 20px;
          }
          @include bkp(sp) {
            width: 30px;
            a {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .other {
      justify-content: end;
      @include bkp(sp) {
        display: block;
      }
      .privacy {
        font-size: 1.4rem;
        margin-right: 20px;
        letter-spacing: 0.02em;
        @include hoverLine();
        @include bkp(sp) {
          margin-right: 0;
          font-size: 1.2rem;
        }
      }
      .copyright {
        font-size: 1.4rem;
        letter-spacing: 0.02em;
        @include bkp(sp) {
          margin-top: 15px;
        }
      }
    }
  }
}
//footer
